body {
    padding-top: 35px;
    margin-right: 20px;
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    top: 51px;
    height: 100%;
    width: 13.5%;
    /*bottom: 0;*/
    /*left: 0;*/
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /*Scrollable contents if viewport is shorter than content.*/
    border-right: 1px solid #eee;
    text-align: center;
}

.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;

    font-size: .75em;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a {
    color: #fff;
    background-color: #428bca;
}

.personal-pic {
    height: 125px;
    width: 100px;

}

.content {
    /*padding: 20px 40px;*/
    margin-left: 135px;
}

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.spacer-lg {
    margin-top: 60px;
}

.spacer-md {
    margin-top: 50px;
}

.spacer-sm {
    margin-top: 25px;
}

#footer {
    position: absolute;
    bottom: 0;
    margin-left: 150px;
    width: 90.55%;
    /* Set the fixed height of the footer here */
    height: 15px;
}

.h2 {
    font-size: 24px;
}

.elevator-pitch {
    font-size: 14px;
}

.twitter{
    color: dodgerblue;
    background:#ffffff;
}

.facebook{
    background: dodgerblue;
    color:#ffffff;
}

.google{
    background: red;
    color:#ffffff;
}
